NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
GOOGLE_IOS_URL_SCHEME=
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY=
NEXT_PUBLIC_KAKAO_JS_KEY=
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=
APPLE_APP_STORE_ISSUER_ID=
APPLE_APP_STORE_KEY_ID=
APPLE_APP_STORE_PRIVATE_KEY=
APPLE_BUNDLE_ID=
GOOGLE_PLAY_PACKAGE_NAME=
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=
STORE_PUBLISH_PRODUCT_IDS_IOS=
STORE_PUBLISH_PRODUCT_IDS_ANDROID=
