NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_GUEST_PUBLISHER_USER_ID=
RATE_LIMIT_FINGERPRINT_KEY_V1=
VIEW_LOGGING_ENABLED=false
ACCOUNT_DELETE_TICKET_KEY_V1=
ACCOUNT_DELETION_ENABLED=false
INVITATION_ASSET_ACCESS_ENABLED=false
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPPORT_EMAIL=
NEXT_PUBLIC_KAKAO_JS_KEY=
NEXT_PUBLIC_KAKAO_MAPS_ENABLED=false
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=
NEXT_PUBLIC_NAVER_MAPS_ENABLED=false
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
GOOGLE_IOS_URL_SCHEME=
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY=
KAKAOPAY_CID=
KAKAOPAY_SECRET_KEY=
PORTONE_STORE_ID=
PORTONE_CHANNEL_KEY=
APPLE_APP_STORE_ISSUER_ID=
APPLE_APP_STORE_KEY_ID=
APPLE_APP_STORE_PRIVATE_KEY=
APPLE_BUNDLE_ID=
GOOGLE_PLAY_PACKAGE_NAME=
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=
STORE_PUBLISH_PRODUCT_IDS_IOS=com.invitehub.publish.credit
STORE_PUBLISH_PRODUCT_IDS_ANDROID=publish.credit.android
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_PUBLISH_PACKAGE_ID=publish_credit_1
REVENUECAT_WEBHOOK_AUTH_TOKEN=
ENABLE_LEGACY_STORE_VERIFY=false
NEXT_PUBLIC_ENABLE_PAID_PUBLISH=false
EXPO_PUBLIC_ENABLE_NATIVE_SOCIAL_AUTH=false
